
<div style="padding-top: 3%; padding-right: 6%; padding-right: 8%;">
    <table class="table table-striped "  >
      <thead>
        <tr>
          <th>Rating ID</th>
          <th>Short Description</th>
          <th>Brief Description</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td> 
          <td>Not Known</td>
          <td>Do not have any knowledge about the skill</td> 
       </tr>
       <tr>
        <td>2</td> 
        <td>Basic knowledge</td>
        <td>Have basic understanding.</td> 
     </tr>
     <tr>
      <td>3</td> 
      <td>Good</td>
      <td>Having hands on experience.</td> 
   </tr>
   <tr>
    <td>4</td> 
    <td>Excellent</td>
    <td>Employee is expert on this skill.</td> 
 </tr>
       </tbody>
       <table>
       
       
