<!-- <nav class="navbar " style="background-color: #144358">
  <div class="container">
    <h2 style="font-family: initial; color:white;">Evaluation Management System</h2>
    &nbsp;&nbsp;

    <button
      class="btn btn-outline-light"
      routerLink="login"
      type="submit"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" style="font-weight: bold;">LOGIN</i>
    </button>
  </div>
</nav> -->
<app-nav-bar-home></app-nav-bar-home>
<html>
  <img src="./assets/img/reviewbg.png" style="width: 1402px; height: 610px" />
</html>
