<nav class="navbar navbar-expand- bg-primary">
  <div class="container">
    <h3 style="font-family: initial; color:black;">Evaluation Management System</h3>
    &nbsp;&nbsp;

    <button
      class="btn btn-outline-light"
      routerLink="login"
      type="submit"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" style="font-weight: bold;">LOGIN</i>
    </button>
  </div>
</nav>
<html>
  <img src="./assets/img/reviewbg.png" style="width: 1422px; height: 618px" />
</html>
