
  .mycustcard{
  
    width: 450px;
    max-width: 100%;
    background-color: #eee;
}
h2{
    text-align: center;
}
:host {
  align-items: center;
    height: 100vh;
    display: block;
    max-width: 100%;
    background-color: rgb(220, 218, 197);
    border:  rgb(193, 189, 164);
}