<!-- <!DOCTYPE html>
<html>
   <nav class="navbar navbar-dark bg-primary" >

      <h2>EMS</h2>
    </nav>

  
<br>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>

<div class="sidenav">
  <a routerLink="/dashboard/employeedetails">Employee details</a>
  <a href="/dashboard/employeedet">Feedback</a>
  <a href="#clients">Report</a>
  <a href="#contact">Evaluation</a>
</div>

<div class="main">
 
</div>
   
</body>
</html>

<router-outlet></router-outlet> -->


<app-nav-bar></app-nav-bar>
<div>
  <!-- <nav class="navbar"  style="background-color: #144358;">

    <h2 style="padding-left: 2%; color: aliceblue">EMS Dashboard</h2>
  </nav> -->
<div class="row">
  <div class="column" style="background-color: #144358; padding-left: 1%;padding-top: 2%;">
    <!-- <ul>
      <li *ngFor="let item of sidenavList">
         {{item}} 
      </li>
    </ul> -->
    
   
    <b> <a style = "color: #88B4BA" routerLink="/dashboard/employeedetails">Employee details</a></b><br><br>
    <b> <a style = "color: #88B4BA" routerLink="/dashboard/evaluation">Evaluation</a></b><br><br>
    <b> <a  style = "color: #88B4BA" routerLink="/dashboard/employeedet">Feedback</a></b> <br><br>
    <b><a  style = "color: #88B4BA" routerLink="#clients">Report</a> </b><br><br>
  
  </div>
  <div class="column1" style="background-color:ghostwhite; height:  80%;">
   
    <router-outlet></router-outlet>
  </div>
</div>

</div>
